@import "tailwindcss";

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/static/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/static/DMSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/static/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --bg-700: 243 96% 9%;
  --white: 0 0% 100%;
  --orange: 28 100% 52%;
  --blue-500: 233 67% 56%;
  --blue-700: 248 70% 36%;

  --neutral-800: 243 27% 20%;
  --neutral-700: 243 23% 24%;
  --neutral-600: 243 23% 30%;
  --neutral-300: 240 6% 70%;
  --neutral-200: 250 6% 84%;

  --font-bg: "Bricolage Grotesque", sans-serif;
  --font-dm: "DM Sans", sans-serif;

  --fs-base: 1.125rem;
}

@theme {
  --font-display: "Bricolage Grotesque", sans-serif;
}

body {
  background-color: hsl(var(--bg-700));
  color: hsl(var(--white));
  font-family: var(--font-dm);
  font-size: var(--fs-base);
  font-weight: 300;
}


